---
title: First note
---
# First note

I've finally decided to create my own website!

But in an attempt to save it from simply collecting dust, I've also made it into my blog with some TIL bits of **knowledge™** I've gained here and there.

I'm too lazy rn to write down what I've learned to day so you'll have to trust me.
Cya tomorrow ❤️

### Notes to self
Oh, almost forgot - read up about dynamic imports in nextjs :P
